.tab{
    display: flex;
    
    color: white;
    width: 25%;
    align-self: auto;
    
}

.tablink{
    display: flex;
    background-color: white;
    width: auto;
    align-items: center;
}

.tabs {
    position: absolute;
    width: 100%;
}

.hide{
display: none;
}

.flex{
    display: flex;
}

.money, .icone, .begin, .bolao-title {
    pointer-events: none;
}




/*Cards*/
    /*Geral*/
    .tabs{
        Flex-wrap: wrap;
        margin: 0.5em auto;
        
    
    }
    
        /*Card individual*/
    .card{
        display: flex;
        background-color: white;
        margin: 0.5em auto;
        width: 85%;
        line-height: 1.5em;
        
        
            /*Text properties*/
        text-align: center;    
        justify-content: center;
        flex-direction: column;
        padding: 7% 3%;
        
    
            /*Box Shadow*/
        box-shadow: 2px 3px 15px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
            /*Título do bolão*/
    .card h3{
        font-weight: bold;
    }
            /*Linha de icone e tipo do campeonato*/
    .card .icone{
        font-size: .7em;
        color: #61d8c5;
        align-items: center;
    }
            /*Linha de inscrição e premiação*/
    .card .money{
        font-size: 0.8em;
        color: #7c7c7c;
    }
            /*Linha de data limite da inscrição*/
    .card .begin{
    
        font-size: 0.6em;
        color: #b9b9b9;
    }
            /*Alinha na mesma linha icone e tipo / inscrição e premiação */
    .icone, .money{
        display: flex;
        align-self: center;
    }
            /*Espaça icone e inscrição*/
    .icone i, #entry{
        margin-right: 1em;
    }


    @media (min-width: 768px){
        .tabs{
            
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .card{
            width: 33%;
        }
    
    }

    @media (min-width: 970px){
        .tabs{
            
            flex-wrap: wrap;
            
        }

        .card{
            width: 33%;
            padding: 5%;
        }
    
    }